<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 form">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>

    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control" %>
  
  <br>

  <div class="actions p-2">
    <%= form.submit %>
  </div>
  </div>
<% end %>
