<p id="notice"><%= notice %></p>

<h1>Users</h1>
<% if @users.empty? %>
  <h3> There are no users yet </h3>
<% else %>
<table  class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col"> View User </th>
      <th scope="col"> Edit User </th>
      <th scope="col"> Delete User </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= link_to 'Show', user, class: "p-2 link"%></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "p-2 link" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "p-2 link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<br>

<%= link_to 'New User', new_user_path, class: "p-2 link" %>
<%= link_to 'Home', root_path, class: "p-2 link" %>

