
<div class="container-fluid">
  <p id="notice" class="p-4"><%= notice %></p>
  <% flash.each do |type, msg| %>
    <% if type == 'alert' %>
      <div class="alert alert-danger">
        <%= msg %>
      </div> 
    <% end %>
  <% end %>
  <h1>
    <strong> <%= @user.full_name %> </strong>
  </h1>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'All Users', users_path %>
  <div class="row mt-4">
    <div class="col-md-4">
      <%= render 'assign_book_form', user: @user, assigned_book: @assigned_book %> 
    </div>
    <div class="col-md-8">
      <h3>Books borrowed by <%= @user.first_name.capitalize %></h3>
      <%= render 'borrowed_books', borrowed_books: @borrowed_books %>
    </div>
  </div>
</div>
