<div>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @book.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @book.description %>
  </p>
  <%= link_to 'Home', root_path %> |
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'All Books', books_path %>
</div>
