%div
  %p#notice= notice
  %p
    %strong Name:
    = @book.name
  %p
    %strong Description:
    = @book.description
  = link_to 'Home', root_path
  |
  \#{link_to 'Edit', edit_book_path(@book)} |
  \#{link_to 'All Books', books_path}
